<body>
    <mat-drawer-container class="example-container"  autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px; background: transparent;" hasBackdrop="true">
        <mat-drawer style="width: 20%; height: 100%; background-color: #385399;"  #drawer mode ="over">
            <mat-action-list style="position: relative; bottom: 1px;">
              <button mat-list-item routerLink="/" style="color: white;">Companies</button>
              <button *ngIf="isCustomer()"mat-list-item routerLink="/customer/reservations" style="color: white;">Reservations</button>
            </mat-action-list>
        </mat-drawer>
            <mat-drawer-content>
                <mat-toolbar color="primary">
                  <mat-toolbar-row>
                    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" >
                       <mat-icon>menu</mat-icon>
                    </button>
                   <h1>MedEquip</h1>
                   <span class="menu-spacer"></span>
                   <div class="divTool">
               
                   </div>
                   <span class="example-spacer"></span>
                   <button *ngIf="!checkLoggedInUser()" mat-icon-button [routerLink]="'/login'" class="example-icon" aria-label="Example icon-button with share icon"  class="tooltipR">
                       <mat-icon>login<span class="tooltiptext">Login</span>
                       </mat-icon>
                       </button>
                   <button *ngIf="!checkLoggedInUser()" mat-icon-button [routerLink]="'/registration'" class="example-icon" aria-label="Example icon-button with share icon"  class="tooltipR">
                   <mat-icon>app_registration <span class="tooltiptext">Registration</span>
                   </mat-icon>
                   </button>
                   <button *ngIf="checkLoggedInUser()" mat-icon-button (click)="logout()" class="example-icon" aria-label="Example icon-button with share icon"  class="tooltipR">
                       <mat-icon>logout <span class="tooltiptext">Logout</span>
                       </mat-icon>
                       </button>
               </mat-toolbar-row>
                </mat-toolbar>
                <div *ngIf="company">
                <div *ngIf="profile" style="margin-left: 100px;margin-top:20px;margin-bottom: 30px;">
                    <div style="display: flex;margin-left:30px;">
                      
                    </div>
                    <div style="display:grid;margin-left:200px;margin-top:20px;">
                      <div><label>Name:</label></div>
                      <div><p>{{company.name}}</p></div>
                      <div><label>Address:</label></div>
                      <div style="height: fit-content;display:flex;"><p>{{company.address.street}} {{company.address.number}}, {{company.address.city.name}}, {{company.address.country.name}}</p></div>
                      <div><label>About:</label></div>
                      <div style="width: 500px;height: fit-content;"><p>{{company.description}}</p></div>
                      <div><label>Grade:</label></div>
                      <div><p>{{company.averageGrade}}</p></div>
                      <div><label>Equipment:</label></div>
                        <div *ngIf="equipment.length==0"><p style="font-size: 15px;">No equipment in the company at the moment.</p></div>
                        <table class="fl-table" *ngIf="equipment.length!=0">
                              <tbody>
                              <tr *ngFor="let e of equipment">
                                  <td>{{e.equipmentName}}</td>
                              </tr>
                    
                              <tbody>
                        </table>

                        <div style="align-content: center;">
                          <label style="align-content:center;">Available appointments:</label>
                        </div>
                        <div *ngIf="availableAppointments.length==0">
                          <p style="margin-left: 200px;margin-top:30px;">No available appointments at the moment.</p>
                        </div>
                        <table class="fl-table" *ngIf="availableAppointments.length!=0">
                            <tbody>
                            <tr *ngFor="let availableAppointment of availableAppointments">
                                <td>{{availableAppointment.timePeriod.startTime | date:"dd.MM.yyyy. HH:mm"}}</td>
                                <td>{{availableAppointment.timePeriod.endTime | date:"HH:mm"}}</td>
                                <td>{{availableAppointment.companyAdmin.name}} {{availableAppointment.companyAdmin.surname}}</td>
                            </tr>
                  
                            <tbody>
                        </table>
                        
                        <div style="display: flex;margin-left:30px;">
                            <button *ngIf="isCustomer()" style="float:right; background-color: #385399;margin:10px;"  color="accent" mat-raised-button (click)='showMakeReservation()'>Make reservation</button>
                        </div>
            
                        </div>
                    </div>
                </div>
                <mat-card *ngIf="makeReservation" style="height:fit-content;">
                    <div style="margin-left:200px;">
                      <label style="align-content:center;">Reservation</label>
                    </div>

                    <div style="display: flex;">
                      <mat-card>
                          <form [formGroup]="addEquipmentForm" (ngSubmit)="addToReservation()">
                              <mat-grid-list cols="3"  rowHeight="3:1">
                    
                                <mat-grid-tile style="margin:10px;">
                                  <div class="inputField" style="width: 250px;">
                                    <mat-form-field appearance="fill" >
                                      <mat-label>Choose equipment*</mat-label>
                                      <mat-select formControlName = 'equipmentToOrder' >
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let e of equipmentR" [value]="e">
                                          {{e.equipmentName}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                </mat-grid-tile>
                    
                                <mat-grid-tile style="margin:10px;">
                                  <div class="inputField" style="width: 250px;margin-left: 20px;">
                                    <mat-form-field appearance="fill" id="amount-ff" >
                                      <mat-label >Quantity</mat-label>
                                      <input matInput id="quantity" placeholder="Quantity" name="amount-ff"
                                             formControlName="quantityToOrder" required type="number" min="1" style="height: 25px;">
                                    </mat-form-field>
                                  </div>
                                </mat-grid-tile>
                    
                                <mat-grid-tile><button style="float:right; position:relative; margin: 10px;margin-bottom:10px;width: auto;background-color: #385399;" color="accent" mat-raised-button id='addEquipment' [disabled]="!addEquipmentForm.valid">Add</button></mat-grid-tile>
                    
                              </mat-grid-list>
                          </form>
                          </mat-card>
                        <mat-card>
                          <form [formGroup]="reservationForm"  (ngSubmit)="submitReservation()">
                          <mat-grid-list  cols="3" rowHeight="3:1" *ngIf="reservedEquipment.length!=0">
                            
                            <mat-grid-tile> <p style="font-weight: bold;size:50px;color: #385399;" >Equipment list</p></mat-grid-tile>
                            <mat-grid-tile></mat-grid-tile>
                            <mat-grid-tile></mat-grid-tile>
                            <mat-grid-tile></mat-grid-tile>
                            
                            <mat-grid-tile>
                              <div class="inputField">
                                <mat-form-field color="accent" appearance="fill">
                                  <mat-label>Choose appointment</mat-label>
                                      <mat-select formControlName = 'selectedAppointment' >
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let a of appointments" [value]="a">
                                          {{a.timePeriod.startTime | date:"dd.MM.yyyy. HH:mm"}} - {{a.timePeriod.endTime | date: "HH:mm"}}
                                        </mat-option>
                                      </mat-select>
                                </mat-form-field>
                    
                              </div>
                            </mat-grid-tile>
                            <mat-grid-tile></mat-grid-tile>
                            <mat-grid-tile style="size: 30px;font-weight: bold;color: #385399;" >Equipment name</mat-grid-tile>
                            <mat-grid-tile style="size: 30px;font-weight: bold;color: #385399;" >Amount</mat-grid-tile>
                            <mat-grid-tile></mat-grid-tile>
                            <div>
                                <p class="text-grid" *ngFor="let re of reservedEquipment">
                                  <mat-grid-tile style="size: 20px;">{{re.equipmentName}}</mat-grid-tile>
                                  <mat-grid-tile style="size: 20px;">{{re.quantity}}</mat-grid-tile>
                                  <mat-grid-tile><button class="btn" (click)="cancelItem(re.equipmentId)" ><i class="fa fa-close"></i> Remove</button></mat-grid-tile>
                                </p>
                              <mat-grid-tile></mat-grid-tile>
                              <mat-grid-tile></mat-grid-tile>
                              <mat-grid-tile><button style="float:right; position:relative; margin: 10px;margin-top:25px;size:20px;background-color: #385399;" color="accent" mat-raised-button id='submitReservation'  [disabled]="!reservationForm.valid">Reserve</button></mat-grid-tile>
                            </div>
                          </mat-grid-list>
                          </form>
                        </mat-card>
                    </div>
                    <div style="vertical-align: bottom;">
                      <button style="float:right;position: relative; background-color: #385399; margin-right:20px;margin-top: 60px;" color="accent" mat-raised-button id='cancelReservation' (click)='cancelReservation()'>Back</button>
                    </div>
                  </mat-card>
 
            </mat-drawer-content>
    </mat-drawer-container>
</body>
